body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 101vh;
}

.header {
    display: flex;
    width: 100%;
    background-color: #545454;
    font-size: 2.2rem;
    color: white;
}

.header_logo {
    width: 8%;
    outline: 2px solid black;
}

.header_logo img {
    width: 80%;
}

.navbar {
    left: -10%;
    width: 90%;
    text-align: center;
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar_item {
    padding: 2% 5%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.navbar_item {}

.navbar_item:hover {
    background: black;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.active {
    background-color: gray;
}

.market a {
    text-decoration: none;
    color: black;
    margin: 10%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.market a:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.market {
    width: 60%;
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.market img {
    width: 100%;
}

.market .main {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0.5%;
    background-color: #545454;
    font-size: 1rem;
    text-align: center;
    color: white;
}