*{
    font-family: Verdana, Geneva, sans-serif;
}

body {
 background-color: #f5f5dc;
}

.all{
    width: 75%;
    margin: 0 auto;
} 

.header{
    display: flex;
    
}

.photo{
    width: 20%;
    display: flex;
    justify-content: center;
}

.photo > img{
    height: auto;
    margin: auto;
    border-radius: 50%;
 }

.header-right{
    width: 80%
}

.Name span{
   color: #e84c3d;
   
}

.myinfo{
    display: flex;
    justify-content: space-between;
 }

hr{
    border: 1px solid #e84c3d;
}